include ../modules/includies/includies
+includies

head
  +head(head.championship)
body.rails_admin
  +navbar
  .container-fluid
    +nav('Первенство')

    .col-sm-10.col-md-10
      .row
        .content
          .page-header
            h1 Управление первенством

          ol.breadcrumb.panel.panel-default
            li
              a(href='index.html') Панель управления
            li.active Первенство

          ul.nav.nav-tabs
            li.active
              a(href='championship.html')
                span.glyphicon.glyphicon-th-list
                | &nbspСписок
            li
              a(href='add-season.html')
                span.glyphicon.glyphicon-plus
                | &nbspДобавить
            li.dropdown(style='float:right')
              a.dropdown-toggle(data-toggle='dropdown', href='#')
                | Выбранные элементы
                span.caret
              ul.dropdown-menu(role='menu')
                a(href='#') Удалить выбранные записи

          form.form(accept-charset='UTF-8', action='')
            div(style='margin:0;padding:0;display:inline')
              input.form-control(name='utf8', type='hidden', value='✓')
            input.form-control(name='bulk_action', type='hidden')
            table.table.table-condensed.table-striped
              thead
                tr
                  th
                    input.toggle(type='checkbox')
                  th(data-href='#') Id
                  th Название
                  th Дата начала
                  th Дата окончания
                  th 
              tbody
                each season in seasons
                  tr
                    td
                      input(name='bulk_ids[]', type='checkbox', value='1')
                    td(title='1')=season.id
                    td
                      a(href='games.html')=season.label
                    td=season.startDate
                    td=season.endDate
                    td.col-xs-1
                      ul.list-inline
                        li.pull-right(title='Удалить', rel='tooltip')
                          a(href='#')
                            span.glyphicon.glyphicon-trash
                        li.pull-right(title='Редактировать', rel='tooltip')
                          a(href='#')
                            span.glyphicon.glyphicon-pencil
          .clearfix.total-count Всего: #{seasons.length}
          +footer

