doctype html
|<!--[if IE 7]><html class="ie7 lt-ie10 lt-ie9 lt-ie8 no-js" lang="ru"><![endif]-->
|<!--[if IE 8]><html class="ie8 lt-ie10 lt-ie9 no-js" lang="ru"><![endif]-->
|<!--[if IE 9 ]><html class="ie9 lt-ie10 no-js" lang="ru"><![endif]-->
|<!--[if (gt IE 9)|!(IE)]><!--><html class="no-js" lang="ru"><!--<![endif]-->

include ../modules/head/head
include ../modules/footer/footer
include ../modules/navbar/navbar
include ../modules/nav/nav
include ../modules/db/db


head
  +head(head.season)
body.rails_admin
  +navbar
  .container-fluid
    //- .row
    +nav('Первенство')

    .col-sm-10.col-md-10
      .row
        .content
          .page-header
            h1 Сезон 2015. Весна

          ol.breadcrumb.panel.panel-default
            li
              a(href='index.html') Панель управления
            li
              a(href='championship.html') Первенство
            li.active Сезон 2015. Весна

          ul.nav.nav-tabs
            li.active
              a(href='games.html')
                span.glyphicon.glyphicon-th-list
                | &nbspСписок
            li
              a(href='add-game.html')
                span.glyphicon.glyphicon-plus
                | &nbspДобавить
            //- li.export_collection_link(title='', rel='')
            //-   a(href='#')
            //-     span.glyphicon.glyphicon-share
            //-     | &nbspЭкспорт
            li.dropdown(style='float:right')
              a.dropdown-toggle(data-toggle='dropdown', href='#')
                | Выбранные элементы
                span.caret
              ul.dropdown-menu(role='menu')
                //- li
                //-   a(href='#') Экспортировать выбранные записи
                li
                  a(href='#') Удалить выбранные записи
          form#bulk_form.form(accept-charset='UTF-8', action='')
            div(style='margin:0;padding:0;display:inline')
            table.table.table-condensed.table-striped
              thead
                tr
                  th.shrink
                    input.toggle(type='checkbox')
                  th.header.headerSortDown.id_field.integer_type(data-href='#') Id
                  th Дата игры
                  th Дата окончания регистрации
                  th Статус регистрации
                  th 
              tbody
                each game in games
                  tr
                    td
                      input#bulk_ids_(name='bulk_ids[]', type='checkbox', value='1')
                    td.id_field.integer_type(title='1')=game.id
                    td
                      a(href='results.html')=game.gameDate
                    td=game.endRegDate
                    td=game.status
                    td.col-xs-1
                      ul.list-inline
                        li.pull-right(title='Удалить', rel='tooltip')
                          a(href='#')
                            span.glyphicon.glyphicon-trash
                        li.pull-right(title='Редактировать', rel='tooltip')
                          a(href='#')
                            span.glyphicon.glyphicon-pencil
          .clearfix.total-count Всего: #{games.length}
          +footer

