include ../modules/includies/includies
+includies

head
  +head(head.question)
body.rails_admin
  +navbar
  .container-fluid
    +nav('Вопросы')

    .col-sm-10.col-md-10
      .row
        .content
          .page-header
            h1 Вопросы к игре от 15.05.15

          ol.breadcrumb.panel.panel-default
            li
              a(href='index.html') Панель управления
            li
              a(href='questions-list.html') Вопросы
            li.active Вопросы к игре от 22.05.2015

          ul.nav.nav-tabs
            li.active
              a(href='questions-list.html')
                span.glyphicon.glyphicon-th-list
                | &nbspСписок
            li
              a(href='add-question.html')
                span.glyphicon.glyphicon-plus
                | &nbspДобавить
            li
              a(href='import-questions.html')
                span.glyphicon.glyphicon-import
                | &nbspИмпорт
          form.form-horizontal(accept-charset='UTF-8', action='', data-title='New User', enctype='multipart/form-data', method='post')
            table.table.table-condensed.table-striped
              thead
                tr
                  th 
                    input(type='checkbox')
                  th №
                  th Текст
                  th Доп.материалы
                  th Ответ
                  th 
              tbody
                each question in questions
                  tr
                    td
                      input(type='checkbox')
                    td=question.id
                    td=question.text
                    td=question.link
                    td=question.answer
                    td.col-xs-1
                      ul.list-inline
                        li.pull-right(title='Удалить', rel='tooltip')
                          a(href='#')
                            span.glyphicon.glyphicon-trash
                        li.pull-right(title='Редактировать', rel='tooltip')
                          a(href='edit-team.html')
                            span.glyphicon.glyphicon-pencil
            .clearfix.total-count Всего: #{questions.length}

          +footer
