include ../modules/includies/includies
+includies

head
  +head(head.news)
body.rails_admin
  +navbar
  .container-fluid
    +nav('Новости')

    .col-sm-10.col-md-10
      .row
        .content
          .page-header
            h1 Управление новостями

          ol.breadcrumb.panel.panel-default
            li
              a(href='index.html') Панель управления
            li.active Новости

          ul.nav.nav-tabs
            li.active
              a(href='games.html')
                span.glyphicon.glyphicon-th-list
                | &nbspСписок
            li
              a(href='add-news-item.html')
                span.glyphicon.glyphicon-plus
                | &nbspДобавить
            li.dropdown(style='float:right')
              a.dropdown-toggle(data-toggle='dropdown', href='#')
                | Выбранные элементы
                span.caret
              ul.dropdown-menu(role='menu')
                li
                  a(href='#') Удалить выбранные записи

          form.form(accept-charset='UTF-8', action='')
            div(style='margin:0;padding:0;display:inline')
            table.table.table-condensed.table-striped
              thead
                tr
                  th.shrink
                    input.toggle(type='checkbox')
                  th.header.headerSortDown.id_field.integer_type(data-href='#') Id
                  th Заголовок
                  th Дата
                  th Игра
                  th Статус
                  th 
              tbody
                each item in news
                  tr
                    td
                      input(name='', type='checkbox', value='1')
                    td=item.id
                    td
                      a(href='add-news-item.html')=item.header
                    td=item.date
                    td=item.game
                    td=item.status
                    td.col-xs-1
                      ul.list-inline
                        li.pull-right(title='Удалить', rel='tooltip')
                          a(href="#myModal", role="button", data-toggle="modal")
                            span.glyphicon.glyphicon-trash
                        li.pull-right(title='Редактировать', rel='tooltip')
                          a(href='#')
                            span.glyphicon.glyphicon-pencil
                        if item.status === 'опубликована'
                          li.pull-right(title='Скрыть', rel='tooltip')
                            a(href='#')
                              span.glyphicon.glyphicon-stop
                        else
                           li.pull-right(title='Опубликовать', rel='tooltip')
                            a(href='#')
                              span.glyphicon.glyphicon-play
          .clearfix.total-count Всего: #{news.length}

          #myModal.modal.fade
            .modal-dialog
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                  h4.modal-title Подтверждение
                .modal-body
                  p Вы действительно хотите удалить выбранные элементы?
                  p.text-warning
                    small Отменить действие будет невозможно.
                .modal-footer
                  button.btn.btn-default(type='button', data-dismiss='modal') Отмена
                  button.btn.btn-primary(type='button') Удалить

          +footer

