include ../modules/includies/includies
+includies

head
  +head(head.teams)
body.rails_admin
  +navbar
  .container-fluid
    +nav('Команды')

    .col-sm-10.col-md-10
      .row
        .content
          .page-header
            h1 Управление командами

          ol.breadcrumb.panel.panel-default
            li
              a(href='index.html') Панель управления
            li.active Команды

          ul.nav.nav-tabs
            li.active
              a(href='teams.html')
                span.glyphicon.glyphicon-th-list
                | &nbspСписок
            li.dropdown(style='float:right')
              a.dropdown-toggle(data-toggle='dropdown', href='#')
                | Выбранные элементы
                span.caret
              ul.dropdown-menu(role='menu')
                li
                  a(href='#') Удалить выбранные записи
          form.form(accept-charset='UTF-8', action='')
            div(style='margin:0;padding:0;display:inline')
            table.table.table-condensed.table-striped
              thead
                tr
                  th
                    input.toggle(type='checkbox')
                  th Id
                  th Название
                  th Email
                  th Дата регистрации
                  th 
              tbody
                each team in teams
                  tr
                    td
                      input(name='', type='checkbox', value='1')
                    td=team.id
                    td
                      a(href='edit-team.html')=team.name
                    td=team.email
                    td=team.regDate
                    td.col-xs-1
                      ul.list-inline
                        li.pull-right(title='Удалить', rel='tooltip')
                          a(href='#')
                            span.glyphicon.glyphicon-trash
                        li.pull-right(title='Редактировать', rel='tooltip')
                          a(href='edit-team.html')
                            span.glyphicon.glyphicon-pencil
          .clearfix.total-count Всего: #{teams.length}
          +footer

 